/** @format */

@tailwind base;
@tailwind components;
@tailwind utilities;

@format * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

body {
  background-color: #1c2a4a;
  color: #e2e8f0;
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  padding-top: 90px;
}
.header {
  width: 90%;
  height: 70px;
  transform: translateX(-50%);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
}
.left_side{
  color: blue;
  font-weight: bold;
}
.exp1:hover {
  background-color: rgba(255, 255, 255, 0.15);
}
.main {
  margin-left: 50%;
}
.line {
  width: 3.5rem;
  background-color: #9ca3af;
  transition: width 0.3s ease, background-color 0.3s ease;
}

.nav-item a:hover .line {
  width: 6rem;
  background-color: white;
}

.experiences {
  margin-top: 140px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 70px;
}
.first-project > img {
  width: 30%;
}
.contact-message {
  font-size: 22px;
  margin-bottom: 22px;
}
body.light-mode {
  background-color: white;
  color: black;
}
header.light-mode {
  background-color: white;
}
button.light-mode {
  background-color: rgb(255, 255, 255);
  border: 1px solid #efd740;
  color: yellow;
}
