/** @format */

@tailwind base;
@tailwind components;
@tailwind utilities;

.header {
  width: 90%;
  height: 70px;
  transform: translateX(-50%);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
}
/* * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
html {
  scroll-behavior: smooth;
}

body {
  background-color: #1c2a4a;
  color: #e2e8f0;
  height: 100vh;
  margin: 0;
  padding-top: 90px;
}
.header {
  width: 90%;
  height: 70px;
  transform: translateX(-50%);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
} */

/* .container {
  display: flex;
  max-width: 1200px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}
.text-section {
  max-width: 40%;
}
.text-section h1 {
  font-size: 2.5rem;
  color: #12c3ef;
  font-weight: bold;
}
.text-section p {
  font-size: 1.2rem;
  color: #95cbdd;
  margin: 10px 0;
}

.text-section span {
  font-size: 1rem;
  color: #555;
}
.image-section img {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
} */
